# Tapis
tapipy>=1.4.0
tapisservice>=1.4.0
jsonschema==4.17.3 # Errors after this version with error below.
# Error reading local "notifications" resource. Ensure path is absolute /usr/local/lib/python3.10/site-packages/tapipy/resources/openapi_v3-notifications.yml. e:cannot import name '_legacy_validators' from 'jsonschema' (/usr/local/lib/python3.10/site-packages/jsonschema/__init__.py)


# Service API
pydantic==1.10.13
fastapi==0.103.2
python-multipart
sqlmodel==0.0.8
uvicorn

# Databases/APIs
sqlalchemy==1.4.41
alembic==1.12.0
psycopg2==2.9.9
kubernetes==28.1.0
neo4j-driver
rabbitpy
channelpy

# Misc
pylint

# Dev
jupyterlab

# Tests
pytest
httpx # Required for testing, imported by: from fastapi.testclient import TestClient