entryPoints:
  web:
   address: ":80"
  dash:
   address: ":8080"

http:
  middlewares:
    path-strip-v3:
      stripPrefix:
        prefixes:
         - "/v3"
    dev-host-headers:
      headers:
        customRequestHeaders:
          host: "localhost:5000"
        customResponseHeaders:
          access-control-allow-origin: : ""
    error-handler:
      errors:
        status:
          - "501-599"
        service: pods-service
        query: "/error-handler/{status}"

  routers:
    dashboard:
      rule: (PathPrefix(`/api`) || PathPrefix(`/dashboard`))
      service: api@internal

    pods-service:
      rule: "PathPrefix(`/v3/pods`)"
      middlewares:
       - "path-strip-v3"
       - "dev-host-headers"
       - "error-handler"
      service: pods-service

    {% for pname, pdata in http_proxy_info.items() -%}
    {{ pname }}:
      rule: "Host(`{{ pdata.url }}`)"
      service: "{{ pname }}"
      tls:
        certResolver: tlsletsencrypt
    {% endfor %}

  services:
    pods-service:
      loadBalancer:
        servers:
         - url: http://pods-api:8000

    {% for pname, pdata in http_proxy_info.items() -%}
    {{ pname }}:
      loadBalancer:
        servers:
         - url: http://{{ pname }}:{{ pdata.routing_port }}
    {% endfor %}

{% if tcp_proxy_info or postgres_proxy_info -%}
tcp:
  routers:{% endif %}
    {% for pname, pdata in tcp_proxy_info.items() -%}
    {{ pname }}:
      rule: "HostSNI(`{{ pdata.url }}`)"
      service: "{{ pname }}"
      tls:
        certResolver: tlsletsencrypt
    {% endfor %}
    {% for pname, pdata in postgres_proxy_info.items() -%}
    {{ pname }}:
      rule: "HostSNI(`{{ pdata.url }}`)"
      service: "{{ pname }}"
      tls:
        certResolver: tlsletsencrypt
        passthrough: true
    {% endfor %}

  {% if tcp_proxy_info or postgres_proxy_info -%}
  services:{% endif %}
    {% for pname, pdata in tcp_proxy_info.items() -%}
    {{ pname }}:
      loadBalancer:
        servers:
         - address: {{ pname }}:{{ pdata.routing_port }}
    {% endfor %}
    {% for pname, pdata in postgres_proxy_info.items() -%}
    {{ pname }}:
      loadBalancer:
        servers:
         - address: {{ pname }}:{{ pdata.routing_port }}
    {% endfor %}
